<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Whitelister</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    <header>
        <nav class="container">
            <ul class="inline">
                <li><a href="/">Home</a></li>
                {{ if .IsAuthenticated }}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {{ end }}
            </ul>
        </nav>
    </header>

    <main class="container">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="container">
        <p style="text-align: center;">2024 IP Whitelister</p>
    </footer>
</body>
</html>
